.card {
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 0;
    font-size: 16px;
}

.description {
    margin: 8px 0 0 0;
    color: #707070;
    font-size: 14px;
}

.trend {
    display: block;
    color: #C8AC48;
    font-size: 12px;
    font-style: italic;
}

.image {
    border-radius: 8px;
}
