.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 32px;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description {
    color: #696f8c;
    font-size: 14px;
    margin: 0;
}

.name {
    margin: 0;
    font-size: 18px;
}

.note {
    color: #696f8c;
    font-size: 12px;
    margin: 0;
}

.redemption {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.promoContainer {
    padding: 16px;
    box-sizing: border-box;
    font-size: 24px;
    width: 100%;
    min-height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #101840;
}

.promoMessage {
    font-weight: 500;
}

.stamp {
    position: absolute;
    transform: rotate(-16deg);
    font-family: 'Courier';
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    color: rgba(209, 67, 67, 0.75);
    padding: 4px;
}

.logoContainer {
    height: 40px;
    margin: 0 auto;
}

.logo {
    width: 72px;
}

.buttonFiller {
    height: 40px;
}

.animationContainer {
    position: absolute;
    top: 0;
    z-index: -10;
    animation: SideToSide 25s linear infinite;
}

@keyframes SideToSide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 136px));
    }
  }
