.container {
    min-height: 100vh;
    padding: 16px 16px 72px 16px;
    box-sizing: border-box;
    width: 100%;
  }
  
.title {
    margin: 0;
    font-size: 24px;
}

.subtitle {
    color: #707070;
    font-size: 14px;
}

.button {
    width: calc(100% - 32px);
    position: fixed;
    bottom: 16px;
    box-sizing: border-box;
    margin: 0 16px;
    text-align: center;
    font-family: 'Sharp Grotesk';
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    right: 0;
}

.list {
    padding: 0;
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}
  