@font-face {
  font-family: 'Sharp Grotesk';
  src: url('./assets/fonts/SharpGroteskBook20.woff');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-weight: 500;
  src: url('./assets/fonts/SharpGroteskMedium20.woff');
}


body {
  margin: 0;
  font-family: 'Sharp Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #101840;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
